apipkg==1.5
asn1crypto==0.24.0
atomicwrites==1.1.5
attrs==18.1.0
bleach==3.1.0
certifi==2018.10.15
cffi==1.12.3
chardet==3.0.4
colorama==0.3.9
coverage==4.5.1
cryptography==2.7
docutils==0.14
execnet==1.5.0
idna==2.7
imageio==2.4.1
jsondiff==1.1.2
keyboard==0.13.2
more-itertools==4.3.0
mouse==0.7.0
numpy==1.15.0
packaging==19.2
Pillow==5.2.0
pkginfo==1.5.0.1
pluggy==0.7.1
psutil==5.6.3
py==1.5.4
pycparser==2.19
Pygments==2.3.1
pyparsing==2.4.2
pytest==3.7.1
pytest-cov==2.5.1
pytest-forked==0.2
pytest-lazy-fixture==0.4.1
pytest-ordering==0.5
pytest-rerunfailures==4.1
pytest-xdist==1.22.5
python-dateutil==2.7.3
qaviton-git==2019.9.25.21.3.45.561378
qaviton-helpers==2019.9.26.15.23.16.117794
qaviton-package-manager==2019.9.26.12.29.17.520891
qaviton-pip==2019.9.23.3.13.21.799826
qaviton-processes==2019.9.4.12.58.22.283354
readme-renderer==24.0
requests==2.22.0
requests-toolbelt==0.9.1
six==1.11.0
text-unidecode==1.2
tqdm==4.31.1
twine==1.13.0
urllib3==1.23
virtualenv==16.0.0
webencodings==0.5.1
